
<div class="title-reviews">
  <h1 class="text-center my-5">Mon planning</h1>
</div>

<hr>
<% if false %>
  <div id="test" class="d-flex my-5">
    <% @bookings.order(:id).each do |booking| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2><%= "Séance #{booking.id}" %></h2>
          <p> Date : <%= booking.start_time.to_date %> à <%= booking.start_time.strftime("%I:%M%p") %> </p>
          <p> Temps : <%= (booking.end_time - booking.start_time) / 3600 %> h</p>
          <p> <%=  booking.client ? "Réservé" : "Disponible" %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>

<div id="container-reviews">

  <div class="reviews">

    <div class="bookings_reviews">
      <div class="container">
        <% @bookings.each do |booking| %>
          <% if booking.state == "booked" && booking.start_time > Time.now %>
            <div id="futur-bookings">
              <div class="card text-center">
              <h1>Réservations prochaines</h1>
                <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
                <p> <%= (booking.end_time - booking.start_time) / 3600 %> h </p>
                <p> <%= booking.client.fullname %> </p>
              </div>
            </div>
          <% elsif booking.state == "booked" && booking.start_time < Time.now && booking.end_time > Time.now %>
              <div id="current-bookings">
                <div class="card text-center">
                <h1>Réservations en cours</h1>
                  <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
                  <p> <%= (booking.end_time - booking.start_time) / 3600 %>h </p>
                </div>
              </div>
          <% elsif booking.state == "booked" && booking.end_time < Time.now %>
            <% if booking.reviews.empty? %>
              <div id="past-bookings-not-reviewed">
                <div class="card text-center">

                <h1>Réservations passées</h1>
                </div>
                <div class="card text-center">
                  <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
                  <p> <%= (booking.end_time - booking.start_time) / 3600 %>h </p>

                  <%= link_to "review", new_booking_review_path(booking), class: "btn btn-primary" %>
                </div>
              </div>
            <% else  %>
              <div id="past-bookings-reviewed">
                <div class="card">
                  <div class="text-center">
                    <h1>Réservations passées</h1>
                  </div>
                  <p>Date : <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
                  <p> Temps : <%= (booking.end_time - booking.start_time) / 3600 %>h </p>
                  <p> Client : <%=  booking.client.fullname %> </p>
                </div>
              </div>

            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="bouton-resa">
      <a href="bookings/new" class="btn btn-primary my-3 d-flex justify-content-center"><p>Créer nouvelle disponibilité</p></a>
    </div>

  </div>


  <div id="calendar-coach" class="m-3">
  </div>
</div>

<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
          <h4 id="modalTitle" class="modal-title"></h4>
      </div>
      <div id="modalBody" class="modal-body">
      <button type="button" class="btn btn-danger">Supprimer la reservation</button>
      <button type="button" class="btn btn-info">Mon eleve</button>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

