<%= content_for(:navbar_class, "navbar-home") %>

<div class="planning">
 <div class="container">
  <div class="top-box text-center">
    <h1>Mon planning</h1>
      <div id="calendar-coach" class="m-3">
   <div class="bouton-resa"></div>
 </div>
   <%= render 'calendar_modal' %>
  </div>
 </div>
 <div class="container">
   <%= render 'shared/humaaans2' %>
 </div>
</div>

<div>
   <%= render 'shared/bottom_pink' %>
</div>

<div class="container">

 <div id="contents-cards" class="contents">

   <div class="why-us text-center">
     <h1>Mes rdv futurs</h1>
   </div>

   <div id="card-deck-center" class="card-deck">

     <div id="futur-bookings">
       <% @future_bookings.each do |booking| %>
         <%= render 'booking_coach_card', booking: booking %>
       <% end %>
     </div>
   </div>
 </div>
</div>

<div class="home-2">

 <div class="top-bar">
   <%= render 'shared/top_bar' %>
 </div>

 <div id="my-cards">

   <div class="container">

     <div class="actuality text-center">
         <h1>Donner un avis </h1>
     </div>


     <div id="past-bookings" class="mt-3">
         <% (@past_bookings.select { |booking| booking.reviews.empty? }).uniq{ |x| x.client }.each do |booking| %>
         <%= render 'booking_coach_card', booking: booking %>
       <% end %>
     </div>
   </div>
 </div>


 <div class="top-bar">
   <%= render 'shared/bottom_bar_2' %>
 </div>

</div>
