<h1 class="text-center my-5">Mon planning</h1>
<hr>
<% if false %>
  <div id="test" class="d-flex my-5">
    <% @bookings.order(:id).each do |booking| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2><%= "Séance #{booking.id}" %></h2>
          <p> Date : <%= booking.start_time.to_date %> à <%= booking.start_time.strftime("%I:%M%p") %> </p>
          <p> Temps : <%= (booking.end_time - booking.start_time) / 3600 %> h</p>
          <p> <%=  booking.client ? "Réservé" : "Disponible" %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
<div class="container px-5">
  <%= link_to "Créer nouvelle disponibilité", new_booking_path, class: 'btn btn-success py-3 text-white d-flex justify-content-center'  %>

  <div id="calendar-coach" class="m-3">
  </div>

</div>
