<%= content_for(:navbar_class, "navbar-home") %>

<div class="title-reviews">
  <h1 class="text-center my-5">Mon planning</h1>
</div>

<hr>

<div id="container-reviews">
  <div class="reviews">
    <div class="bookings_reviews">
      <div class="container">
        <div id="futur-bookings">
          <h2>Réservations prochaines</h2>
          <% @future_bookings.each do |booking| %>
            <%= render 'booking_coach_card', booking: booking %>
          <% end %>
        </div>
        <div id="past-bookings" class="mt-3">
          <h2>Réservations passées</h2>
          <% @past_bookings.select { |booking| booking.reviews.empty? }.each do |booking| %>
            <%= render 'booking_coach_card', booking: booking %>
          <% end %>
          <% @past_bookings.select { |booking| !booking.reviews.empty? }.each do |booking| %>
            <%= render 'booking_coach_card', booking: booking %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="calendar-coach" class="m-3">
    <div class="bouton-resa">
      <a href="bookings/new" class="btn btn-primary my-3 d-flex justify-content-center"><p>Créer nouvelle disponibilité</p></a>
    </div>
  </div>
  <%= render 'calendar_modal' %>
</div>

