<h1 class="text-center my-5">Mon planning</h1>
<hr>
<% if false %>
  <div id="test" class="d-flex my-5">
    <% @bookings.order(:id).each do |booking| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2><%= "Séance #{booking.id}" %></h2>
          <p> Date : <%= booking.start_time.to_date %> à <%= booking.start_time.strftime("%I:%M%p") %> </p>
          <p> Temps : <%= (booking.end_time - booking.start_time) / 3600 %> h</p>
          <p> <%=  booking.client ? "Réservé" : "Disponible" %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>


<div id="calendar" class="m-3">
</div>

<div class="container">
  <% @bookings.each do |booking| %>
    <% if booking.state == "booked" %>
      <div id="futur-bookings">
        <h1>Réservations prochaines</h1>
        <div class="card">
          <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
          <p> <%= (booking.end_time - booking.start_time) / 3600 %> h </p>
          <p> <%= booking.client.fullname %> </p>
        </div>
      </div>
    <% elsif booking.state == "passed" %>
      <% if booking.reviews.empty? %>
        <div id="past-bookings-not-reviewed">
          <h1>Réservations passées</h1>
          <div class="card">
            <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
            <p> <%= (booking.end_time - booking.start_time) / 3600 %>h </p>
            <%= link_to "review", new_booking_review_path(booking), class: "btn btn-primary" %>
          </div>
        </div>
      <% else  %>
        <div id="past-bookings-reviewed">
          <div class="card">
            <p> <%= booking.start_time.strftime("%d-%m à %I:%M%p") %> </p>
            <p> <%= (booking.end_time - booking.start_time) / 3600 %>h </p>
            <p> <%=  booking.client.fullname %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
