<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<div id="test" class="d-flex">
  <% @bookings.order(:id).each do |booking| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2><%= "Séance #{booking.id}" %></h2>
        <p> Date : <%= booking.start_time.to_date %> à <%= booking.start_time.strftime("%I:%M%p") %> </p>
        <p> Temps : <%= (booking.end_time - booking.start_time) / 3600 %> h</p>
        <p> <%=  booking.client ? "Réservé" : "Disponible" %> </p>
      </div>
    </div>
  <% end %>

</div>
<div id="calendar">

</div>
