<!--  Attention: si modif des champs du front il faudra modifier le create du controller -->

<div class="container">
  <h1 class="text-center my-5">Créez une nouvelle disponibilité</h1>

  <%= simple_form_for @booking do |f| %>
    <%= f.label "Date" %>
    <%= f.date_select :start_time %>
    <br>
    <%= f.label "Horaire de début" %>
    <%= f.time_select :start_time, ignore_date: true, minute_step: 15 %>
    <%= f.label "Horaire de fin" %>
    <%= f.time_select :end_time, ignore_date: true, minute_step: 15 %>
    <%= f.input :weekly %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
