<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">

  <%= link_to "/", class: "navbar-brand" do %>
  <%= image_tag 'gouvernail.png', class: "logo" %>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
    <label>
      <input type="checkbox"></input>
      <span class="menu">
        <span class="hamburger"></span>
      </span>
      <ul>
        <% unless current_user.coach?%>
        <li class="nav-item">
          <%= link_to "Devenir Coach", "#", class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Trouver un coach", coaches_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if current_user.coach? %>
          <%= link_to "Tableau de bord", dashboard_coach_path, class: "nav-link" %>
          <% else %>
          <%= link_to "Mes réservations", dashboard_client_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user.coach? %>
          <%= link_to "Messages", chat_room_path(current_user.coach_chat_rooms.first.id), class: "nav-link" %>
          <% else %>
          <% if current_user.client_chat_rooms.any? %>
          <%= link_to "Messages", chat_room_path(current_user.client_chat_rooms.first.id), class: "nav-link" %>
          <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

        <% else %>
        <li class="nav-item">
          <%= link_to "Devenir coach", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </label>
  </ul>
</div>
</div>
