<div class="d-flex justify-content-aroun m-0">
  <%= form_tag coaches_path, method: :get, class: 'form-inline' do %>
    <%= select_tag :speciality, options_for_select(User::SPECIALIZATIONS),
        include_blank: "Spécialité", class: "form-control filter", id: "spe-filter" %>
    <%= select_tag :business_expertise, options_for_select(User::BUSINESS_EXPERTISES),
        include_blank: "Expertise", class: "form-control filter", id: "exp-filter" %>
    <%= number_field_tag :price_min, params[:price_min], in: 1...150, placeholder: "min €/h",
        style: "width: 7rem; text-align: center;", class: "form-control filter", id: "min-filter" %>
    <%= number_field_tag :price_max, params[:price_max], in: 1...150, placeholder: "max €/h",
        style: "width: 7rem; text-align: center;", class: "form-control filter", id: "max-filter" %>
    <%=  submit_tag "Filtrer", class: "btn btn-success" %>
  <% end %>
</div>
<div class="index container px-5">
  <div class="card-index my-4">
    <div class="avatar avatar-card avatar-large avatar-bordered avatar-square">
      <% @users.each do |user| %>
      <%= user.avatar %>
          <% end %>
    </div>
    <div class="index-info-calendar">
      <div class="index-info">
        <% @users.each do |user| %>
          <h4><%= user.firstname %></h4>
          <p><%= user.speciality %></p>
          <p><%= user.business_expertise %></p>
          <p><%= humanized_money_with_symbol(user.hourly_price) %></p>
        <% end %>
      </div>
      <div class="index-calendar">
      </div>
    </div>
  </div>
</div>

