<%= content_for(:navbar_class, "navbar-home") %>

<div class="container-fluid">
  <div class="row">
    <div class="filter-block col-lg-4">
      <%= form_tag coaches_path, method: :get, class: 'form-horizontal' do %>
        <%= select_tag :speciality, options_for_select(User::SPECIALIZATIONS),
                        include_blank: "SPECIALITÉ", placeholder: "Spé", class: "form-control filter", id: "spe-filter" %>
        <%= select_tag :business_expertise, options_for_select(User::BUSINESS_EXPERTISES),
                        include_blank: "EXPERTISE", class: "form-control filter", id: "exp-filter" %>
        <%= number_field_tag :price_min, params[:price_min], in: 1...150, placeholder: "MIN €/H",
                        style: "width: 7rem; text-align: center;", class: "form-control filter", id: "min-filter" %>
        <%= number_field_tag :price_max, params[:price_max], in: 1...150, placeholder: "MAX €/H",
                        style: "width: 7rem; text-align: center;", class: "form-control filter", id: "max-filter" %>
        <%=  submit_tag "GO !", class: "btn" %>
      <% end %>
    </div>

    <div class="coachcards col-lg-8">
      <!-- div id="results-infos" class="pb-5">
        <p><strong><%= @users.count %> coachs</strong> trouvés</p>
      </div> -->
      <% @users.each do |user| %>
        <a href="/coaches/<%=user.id%>" style="text-decoration : none; color : #000000;">
          <div class="card-index my-4">
            <div class="avatar-large">
              <img src="<%= user.avatar %>" alt="avatar" class="avatar avatar-large avatar-index">
              <div class="stars text-center pt-2">
                <% unless user.review_ids.empty? %>
                  <% nb_stars = user.rating_average.round.to_i %>
                  <% nb_stars.times do %>
                    <span style="color: #2F2FA2"><i class="fas fa-star"></i></span>
                  <% end %>
                  <% (5 - nb_stars).times do %>
                    <span style="color: #2F2FA2"><i class="far fa-star"></i></span>
                  <% end %>
                  <p><%= user.reviews.count %> avis</p>
                <% end %>
              </div>
            </div>
            <div class="index-info-calendar">
              <div class="index-info">
                <h4><%= user.firstname %></h4>
                <div class="colorbar">
                </div>
                <div class="info-metier">
                  <div>
                     <p class="card-font">SPECIALISATION</p>
                     <p class="font-helve"><%= user.speciality.capitalize %></p>
                     <p class="card-font">EXPERTISE SECTORIELLE</p>
                     <p class="font-helve"><%= user.business_expertise.capitalize %></p>

                    <p class="card-font">TARIF HORAIRE</p>
                    <p class="font-helve"><%= humanized_money_with_symbol(user.hourly_price) %></p>
                  </div>
                </div>
              </div>
              <div class="index-calendar">
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>




</div>
