<div class="d-flex justify-content-aroun m-0">
  <%= form_tag coaches_path, method: :get, class: 'form-inline' do %>
    <%= select_tag :speciality, options_for_select(User::SPECIALIZATIONS),
                    include_blank: "Spécialité", class: "form-control filter", id: "spe-filter" %>
    <%= select_tag :business_expertise, options_for_select(User::BUSINESS_EXPERTISES),
                    include_blank: "Expertise", class: "form-control filter", id: "exp-filter" %>
    <%= number_field_tag :price_min, params[:price_min], in: 1...150, placeholder: "min €/h",
                    style: "width: 7rem; text-align: center;", class: "form-control filter", id: "min-filter" %>
    <%= number_field_tag :price_max, params[:price_max], in: 1...150, placeholder: "max €/h",
                    style: "width: 7rem; text-align: center;", class: "form-control filter", id: "max-filter" %>
    <%=  submit_tag "Filtrer", class: "btn btn-success" %>
  <% end %>
</div>
<div class="index container px-5">
  <% @users.each do |user| %>
    <a href="/coaches/<%=user.id%>" style="text-decoration : none; color : #000000;">
      <div class="card-index my-4">
        <div class="avatar-large">
          <img src="<%= user.avatar %>" alt="avatar" class="avatar avatar-large avatar-index">
        </div>
        <div class="index-info-calendar">
          <div class="index-info">
            <h4><%= user.firstname %></h4>
            <div class="colorbar">
            </div>
            <div class="info-metier">
              <div>
                 <p class="card-font">SPECIALISATION</p>
                 <p class="font-helve"><%= user.speciality.capitalize %></p>
                 <p class="card-font">EXPERTISE SECTORIELLE</p>
                 <p class="font-helve"><%= user.business_expertise.capitalize %></p>
              </div>
              <div>
                <p class="card-font">TARIF HORAIRE</p>
                <p class="font-helve"><%= humanized_money_with_symbol(user.hourly_price) %></p>
              </div>
            </div>
          </div>
          <div class="index-calendar">
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>


