  <%= content_for(:navbar_class, "navbar-home") %>
  <div class="d-flex see-slot-color">
    <div class="background-red">
      <div id="coach-infos" class="card-portrait">
          <div class="d-flex align-items-center">
            <img src="<%= @coach.avatar %>" alt="avatar" class="avatar avatar-large avatar-index">
            <div class="pt-2">
              <h4><%= @coach.fullname %></h4>
              <% unless @coach.review_ids.empty? %>
              <% nb_stars = @coach.rating_average.round.to_i %>
              <% nb_stars.times do %>
              <span style="color: #F64C72"><i class="fas fa-star"></i></span>
              <% end %>
              <% (5 - nb_stars).times do %>
              <span style="color: #F64C72"><i class="far fa-star"></i></span>
              <% end %>
              <span>  <%= @coach.reviews.count %> avis</span>
              <% end %>
            </div>
          </div>

          <div class="index-info-calendar">

              <div class="info-metier">
                <div>
                 <p class="card-font">DESCRIPTION</p>
                 <p class="font-helve"><%= @coach.description.capitalize %></p>
                 <br>
                 <p class="card-font">SPECIALISATION</p>
                 <p class="font-helve"><%= @coach.speciality.capitalize %></p>
                 <br>
                 <p class="card-font">SECTEUR</p>
                 <p class="font-helve"><%= @coach.business_expertise.capitalize %></p>
                 <br>
                 <p class="card-font">TARIF HORAIRE</p>
                 <p class="font-helve"><%= humanized_money_with_symbol(@coach.hourly_price) %></p>
               </div>
             </div>
           <div class="index-calendar">
           </div>
       </div>
     </div>
   </div>
   <div id="slots" class="flex-grow-1">
  <h1 class="text-center mt-5">Réserver un créneau</h1>
  <div class="wrap">
    <% @bookings.group_by(&:french_date).each do |french_date, bookings| %>
    <div class="card-day">
      <div class="card-day-date text-center">
        <h4><%= french_date %></h4>
      </div>
      <div class="card-day-bookings d-flex justify-content-center">
        <% bookings.each do |booking| %>
        <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#booking-<%= booking.id %>">
          <%= booking.start_time.strftime('%Hh%M') %>
        </button>
        <%= render 'modal_book_slot', booking: booking %>

        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>

